*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search{
    border-color: teal;
    background-color: white;
    color: teal;
    width: 125px;
    border-width: 3px;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}

.add{
    background-color: lightseagreen;
    color: white;
    width: 35px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.create{
    border-color: black;
    background-color: dodgerblue;
    color: white;
    width: 180px;
    border-width: 5px;
    box-shadow: 4px 4px black;
    padding: 5px;
    margin: 10px;
}